.icon-user-blueticket,
.icon-user-booklist,
.icon-user-bookrack,
.icon-user-bookstar,
.icon-user-coins,
.icon-user-collect,
.icon-user-contact,
.icon-user-crystal,
.icon-user-diamond,
.icon-user-doubleheart,
.icon-user-exit,
.icon-user-feedback,
.icon-user-gift,
.icon-user-good,
.icon-user-heartlove,
.icon-user-login,
.icon-user-orangeticket,
.icon-user-peoplelove,
.icon-user-prize,
.icon-user-recommend,
.icon-user-share,
.icon-user-shopping,
.icon-user-sign,
.icon-user-ticket,
.icon-user-windmill {
    display: inline-block;
    background-image: url(../images/sprite.user.4a48e@2x.png);
    background-repeat: no-repeat;
    -webkit-background-size: 4.2133333333rem 3.52rem;
    -moz-background-size: 4.2133333333rem 3.52rem;
    background-size: 4.2133333333rem 3.52rem
}

.icon-user-blueticket {
    width: .48rem;
    height: .48rem;
    background-position: -2.9866666667rem -2.24rem
}

.icon-user-booklist {
    width: .64rem;
    height: .64rem;
    background-position: 0 -2.1333333333rem
}

.icon-user-bookrack {
    width: .64rem;
    height: .64rem;
    background-position: -.7466666667rem -2.1333333333rem
}

.icon-user-bookstar {
    width: .64rem;
    height: .64rem;
    background-position: -1.4933333333rem -2.1333333333rem
}

.icon-user-coins {
    width: .7466666667rem;
    height: .7466666667rem;
    background-position: -1.28rem 0
}

.icon-user-collect {
    width: .48rem;
    height: .48rem;
    background-position: -2.9866666667rem -2.88rem
}

.icon-user-contact {
    width: .64rem;
    height: .64rem;
    background-position: -2.24rem -2.1333333333rem
}

.icon-user-crystal {
    background-position: 0 -1.28rem
}

.icon-user-crystal,
.icon-user-diamond {
    width: .7466666667rem;
    height: .7466666667rem
}

.icon-user-diamond {
    background-position: -.8533333333rem -1.28rem
}

.icon-user-doubleheart {
    width: .48rem;
    height: .48rem;
    background-position: -3.7333333333rem 0
}

.icon-user-exit {
    width: .64rem;
    height: .64rem;
    background-position: -2.9866666667rem 0
}

.icon-user-feedback {
    width: .64rem;
    height: .64rem;
    background-position: -2.9866666667rem -.7466666667rem
}

.icon-user-gift {
    width: .48rem;
    height: .48rem;
    background-position: -3.7333333333rem -.5866666667rem
}

.icon-user-good {
    width: .48rem;
    height: .48rem;
    background-position: -3.7333333333rem -1.1733333333rem
}

.icon-user-heartlove {
    width: .64rem;
    height: .64rem;
    background-position: -2.9866666667rem -1.4933333333rem
}

.icon-user-login {
    width: .64rem;
    height: .64rem;
    background-position: 0 -2.88rem
}

.icon-user-orangeticket {
    width: .48rem;
    height: .48rem;
    background-position: -3.7333333333rem -1.76rem
}

.icon-user-peoplelove {
    width: .64rem;
    height: .64rem;
    background-position: -.7466666667rem -2.88rem
}

.icon-user-prize {
    width: .48rem;
    height: .48rem;
    background-position: -3.7333333333rem -2.3466666667rem
}

.icon-user-recommend {
    width: .7466666667rem;
    height: .7466666667rem;
    background-position: -2.1333333333rem 0
}

.icon-user-share {
    width: .48rem;
    height: .48rem;
    background-position: -3.7333333333rem -2.9333333333rem
}

.icon-user-shopping {
    width: .64rem;
    height: .64rem;
    background-position: -1.4933333333rem -2.88rem
}

.icon-user-sign {
    width: 1.1733333333rem;
    height: 1.1733333333rem;
    background-position: 0 0
}

.icon-user-ticket {
    width: .7466666667rem;
    height: .7466666667rem;
    background-position: -2.1333333333rem -.8533333333rem
}

.icon-user-windmill {
    width: .64rem;
    height: .64rem;
    background-position: -2.24rem -2.88rem
}

.no-copyright {
    padding: 1.6rem .4266666667rem 0;
    font-size: .3733333333rem;
    line-height: pxrem(32px);
    color: #ddd;
    text-align: center
}

.no-copyright .icon {
    display: block;
    width: 3.4666666667rem;
    margin: 0 auto .32rem
}

.no-copyright .url-back {
    display: block;
    height: .7466666667rem;
    width: 2.6666666667rem;
    -webkit-border-radius: .3733333333rem;
    -moz-border-radius: .3733333333rem;
    border-radius: .3733333333rem;
    margin: .32rem auto 0;
    font-size: .3733333333rem;
    line-height: .7466666667rem;
    text-align: center;
    color: #fff;
    background: #fc6976
}

.rd-body {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #fff
}

body {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}

.align-right {
    text-align: right !important
}

.rd-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center
}

.rd-flex.rd-flex-between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.rd-flex.rd-flex-around {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.rd-flex.rd-flex-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.rd-flex .flex {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.rd-progress {
    position: relative;
    height: .5333333333rem;
    padding: 0 .2666666667rem;
    overflow: hidden
}

.rd-progress .rd-progress-cursor {
    position: relative;
    top: 0;
    left: 0;
    height: .5333333333rem
}

.rd-progress .rd-progress-cursor .cursor {
    display: block;
    height: .48rem;
    width: .48rem;
    border: .0266666667rem solid #fc6976;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-left: -.2666666667rem;
    font-size: .32rem;
    line-height: .48rem;
    text-align: center;
    color: #fc6976
}

.rd-progress .rd-progress-cursor:before {
    content: "";
    position: absolute;
    right: 100%;
    top: .24rem;
    display: block;
    height: .0533333333rem;
    width: 100%;
    margin-right: .2666666667rem;
    background-color: #fc6976
}

.rd-progress .rd-progress-cursor:after {
    content: "";
    position: absolute;
    left: .2666666667rem;
    top: .24rem;
    display: block;
    height: .0533333333rem;
    width: 100%;
    background-color: #999
}

.rd-turning {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: .3733333333rem;
    width: 1.0666666667rem;
    -webkit-border-radius: .1866666667rem;
    -moz-border-radius: .1866666667rem;
    border-radius: .1866666667rem;
    background-color: #fff;
    -webkit-transition: background-color .15s linear;
    -o-transition: background-color .15s linear;
    -moz-transition: background-color .15s linear;
    transition: background-color .15s linear
}

.rd-turning b {
    position: absolute;
    left: 0;
    top: -.16rem;
    display: block;
    height: .64rem;
    width: .64rem;
    border: .0133333333rem solid #eee;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: left .15s linear;
    -o-transition: left .15s linear;
    -moz-transition: left .15s linear;
    transition: left .15s linear
}

.rd-turning.turning-on {
    background-color: #fc6976
}

.rd-turning.turning-on b {
    left: .4rem
}

.rd-static {
    position: absolute;
    z-index: 99;
    left: 0;
    bottom: 0;
    display: inline-block;
    height: .48rem;
    width: auto;
    min-width: 2rem;
    padding: .0266666667rem .2666666667rem;
    -webkit-border-top-right-radius: .2666666667rem;
    -moz-border-radius-topright: .2666666667rem;
    border-top-right-radius: .2666666667rem;
    font-size: .2666666667rem;
    line-height: .48rem;
    color: #fff;
    background-color: rgba(0, 0, 0, .6)
}

.rd-static span {
    padding-right: .0666666667rem
}

.rd-hd {
    position: absolute;
    z-index: 100;
    left: 0;
    top: -1.3866666667rem;
    /* display: none; */
    height: 1.3866666667rem;
    width: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, .6);
    transition: top 0.36s;
    -moz-transition: top 0.36s;
    -webkit-transition: top 0.36s;
    -o-transition: top 0.36s;
}

.rd-hd .hd-title {
    height: 1.12rem;
    padding: .1333333333rem 1.3333333333rem;
    margin: 0;
    font-size: .3733333333rem;
    font-weight: 300;
    line-height: 1.12rem
}

.rd-hd .hd-left,
.rd-hd .hd-right {
    position: absolute;
    top: 0;
    display: block;
    height: 1.3866666667rem;
    font-size: .4266666667rem;
    line-height: 1.3866666667rem;
    text-align: center
}

.rd-hd .hd-left {
    width: 1.3333333333rem;
    left: 0
}

.rd-hd .icon-box {
    width: 1.3866666667rem;
    line-height: 1.3866666667rem
}

.rd-hd .hd-right {
    right: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch
}

.rd-hd .home {
    display: inline-block;
    border: .0266666667rem solid hsla(0, 0%, 100%, .75);
    padding: .0533333333rem .1066666667rem;
    line-height: .4rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: .32rem;
    color: #fff
}

.rd-hd .share-btn {
    vertical-align: middle
}

.rd-ft {
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    bottom: -3.17rem;
    /* display: none; */
    padding: .1333333333rem .48rem;
    color: #fff;
    background-color: rgba(0, 0, 0, .6);
    transition: bottom 0.36s;
    -moz-transition: bottom 0.36s;
    -webkit-transition: bottom 0.36s;
    -o-transition: bottom 0.36s;
}

.rd-ft .ft-page {
    display: none;
    height: .64rem;
    padding: .1066666667rem 0
}

.rd-ft .ft-page .page-next,
.rd-ft .ft-page .page-prev {
    height: .64rem;
    width: .64rem;
    font-size: .32rem;
    line-height: .64rem
}

.rd-ft .ft-page .page-prev {
    text-align: left
}

.rd-ft .ft-page .page-next {
    text-align: right
}

.rd-ft .ft-page .page-info {
    display: inline-block;
    width: auto;
    min-width: .6666666667rem;
    padding: 0 .0666666667rem;
    font-size: .32rem;
    text-align: center;
    line-height: .64rem
}

.rd-ft .ft-page .page-row {
    height: .5333333333rem;
    padding: .1066666667rem .1333333333rem
}

.rd-ft .ft-speed {
    display: none;
    height: .64rem;
    padding: .1066666667rem 0
}

.rd-ft .speed-add,
.rd-ft .speed-reduce {
    height: .64rem;
    width: .64rem;
    font-size: .48rem;
    line-height: .64rem
}

.rd-ft .speed-reduce {
    text-align: left
}

.rd-ft .speed-add {
    text-align: right
}

.rd-ft .speed-row {
    height: .5333333333rem;
    padding: .1066666667rem .1333333333rem
}

.rd-ft .ft-menu {
    padding: .1066666667rem 0;
    height: 2rem
}

.rd-ft .ft-menu .menu-block {
    display: block;
    height: 2.0666666667rem;
    width: 1.7333333333rem;
    padding-top: .1333333333rem;
    color: #fff;
    text-align: center
}

.rd-ft .ft-menu .menu-block .icon {
    display: block;
    height: 1.2rem;
    width: 1.2rem;
    margin: 0 auto;
    font-size: .8rem;
    line-height: 1.2rem
}

.rd-ft .ft-menu .menu-block .name {
    display: block;
    padding-bottom: .0933333333rem;
    height: .64rem;
    font-size: .3733333333rem;
    line-height: .64rem
}

.rd-ft.show-page .ft-page {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex
}

.rd-ft.show-page .menu-block .icon.play {
    display: none
}

.rd-ft.show-page .menu-block .icon.stop {
    display: block
}

.rd-ft.show-speed .ft-speed {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex
}

.rd-ft.show-speed .menu-block .icon.play {
    display: block
}

.rd-ft.show-speed .menu-block .icon.stop {
    display: none
}

.rd-dm {
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: auto
}

.rd-dm .dm-screen {
    position: relative;
    height: 0;
    width: 100%
}

.rd-dm .dm-screen .dm-content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    display: block;
    height: .96rem;
    max-width: 10rem;
    font-size: 0;
    line-height: .96rem
}

.rd-dm .dm-screen .dm-content .dm-face {
    display: inline-block;
    height: .8rem;
    width: .8rem;
    border: .08rem solid rgba(0, 0, 0, 0);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 0;
    line-height: 0;
    text-align: center;
    vertical-align: middle;
    overflow: hidden
}

.rd-dm .dm-screen .dm-content .dm-face .dm-face-img {
    display: inline-block;
    height: 100%;
    width: 100%;
    max-height: .8rem;
    max-width: .8rem;
    vertical-align: middle
}

.rd-dm .dm-screen .dm-content .dm-text {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    height: .96rem;
    width: auto;
    max-width: 5rem;
    margin: 0 .32rem;
    font-size: .3733333333rem;
    line-height: .96rem;
    color: #fff;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle
}

.rd-dm .dm-screen .dm-content .dm-vip {
    display: inline-block;
    height: .96rem;
    width: 1.12rem;
    margin-left: .16rem;
    font-size: .4266666667rem;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    text-shadow: 0 0 .0533333333rem #ff0, 0 0 .1066666667rem #f9f931, 0 0 .16rem #fdfd66
}

.rd-dm-menu,
.rd-dm .dm-screen.face-hide .dm-content .dm-face {
    display: none
}

.rd-dm-menu {
    position: absolute;
    z-index: 101;
    right: .48rem;
    bottom: .48rem;
    height: 0;
    width: 0
}

.rd-dm-menu .dm-bar {
    padding: .0266666667rem;
    border: .0266666667rem solid rgba(0, 0, 0, .7);
    border-radius: 50%
}

.rd-dm-menu .dm-bar,
.rd-dm-menu .dm-bar .bar-btn {
    height: .96rem;
    width: .96rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%
}

.rd-dm-menu .dm-bar .bar-btn {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .7);
    color: #fff
}

.rd-dm-menu .dm-bar .bar-btn i {
    display: block;
    height: .48rem;
    width: .48rem;
    margin: 0 auto;
    font-size: .3733333333rem;
    line-height: .48rem;
    text-align: center
}

.rd-dm-menu .dm-bar .bar-btn label,
.rd-dm-menu .dm-bar .bar-btn span {
    display: block;
    line-height: .4rem;
    font-weight: 300;
    text-align: center
}

.rd-dm-menu .dm-bar .bar-btn label {
    padding-top: .0666666667rem;
    font-size: .2666666667rem
}

.rd-dm-menu .dm-bar .bar-btn span {
    font-size: .2933333333rem
}

.rd-dm-menu .dm-bar .bar-btn .closed,
.rd-dm-menu .dm-bar .bar-btn.eye-close .opened {
    display: none
}

.rd-dm-menu .dm-bar .bar-btn.eye-close .closed {
    display: block
}

.rd-dm-menu .dm-fix {
    position: absolute;
    right: 0;
    bottom: 0;
    -webkit-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out
}

.rd-dm-menu .dm-menu {
    position: absolute;
    right: 0;
    bottom: 1.0666666667rem;
    height: auto
}

.rd-dm-menu .dm-menu .dm-list {
    margin-bottom: .32rem;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    transition: all .2s ease-in;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0)
}

.rd-dm-menu.dm-menu-hide .dm-bar {
    border-color: rgba(0, 0, 0, .5)
}

.rd-dm-menu.dm-menu-hide .dm-bar .bar-btn {
    background-color: rgba(0, 0, 0, .5)
}

.rd-dm-menu.dm-menu-hide .dm-menu .dm-list {
    opacity: 0;
    height: 0;
    margin: 0
}

.cover-light {
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    height: 1.92rem;
    width: 8.2666666667rem;
    -webkit-border-radius: .2666666667rem;
    -moz-border-radius: .2666666667rem;
    border-radius: .2666666667rem;
    padding: 0 .4rem;
    margin: -.96rem 0 0 -4.1333333333rem;
    color: #fff;
    background-color: rgba(0, 0, 0, .6)
}

.cover-light .light-progress {
    padding: .1333333333rem 0
}

.cover-light .light-progress .progress-add,
.cover-light .light-progress .progress-reduce {
    height: .64rem;
    width: .64rem;
    font-size: .48rem;
    line-height: .64rem;
    color: #ccc
}

.cover-light .light-progress .progress-reduce {
    text-align: left
}

.cover-light .light-progress .progress-add {
    text-align: right
}

.cover-light .light-progress .progress-row {
    height: .5333333333rem;
    padding: .1066666667rem .1333333333rem
}

.cover-light .light-option {
    height: .5333333333rem;
    padding: .1333333333rem 0
}

.cover-light .light-option .option-btn {
    display: inline-block;
    height: .5333333333rem;
    width: auto;
    min-width: 2.1333333333rem;
    font-size: 0;
    line-height: .5333333333rem;
    text-align: center;
    color: #ccc
}

.cover-light .light-option .option-btn i {
    height: .48rem;
    width: .48rem;
    margin: 0 .1333333333rem 0 0;
    text-align: center;
    line-height: .48rem
}

.cover-light .light-option .option-btn i,
.cover-light .light-option .option-btn label {
    display: inline-block;
    vertical-align: middle
}

.cover-light .light-option .option-btn.active,
.cover-light .light-option .option-btn:active {
    color: #fc6976
}

.cover-light .light-option .option-btn.active i,
.cover-light .light-option .option-btn:active i {
    color: #fc6976
}

.cover-bookmark {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    color: #fff;
    background-color: rgba(0, 0, 0, .6)
}

.cover-bookmark .bookmark-title {
    height: .8533333333rem;
    padding: .1066666667rem .4rem
}

.cover-bookmark .bookmark-title .icon {
    display: block;
    height: .8533333333rem;
    width: .8533333333rem;
    font-size: .5333333333rem;
    line-height: .8533333333rem;
    text-align: left
}

.cover-bookmark .bookmark-title .title {
    height: .8533333333rem;
    margin: 0;
    font-size: .3733333333rem;
    font-weight: 300;
    line-height: .8533333333rem
}

.cover-bookmark .bookmark-main {
    height: auto
}

.cover-bookmark .bookmark-main .bookmark-list {
    position: relative;
    height: .8533333333rem;
    padding: .1066666667rem .4rem;
    border-top: .0266666667rem dashed rgba(0, 0, 0, .2)
}

.cover-bookmark .bookmark-main .bookmark-list .text {
    font-size: .3733333333rem;
    line-height: .8533333333rem;
    font-weight: 300;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    word-wrap: break-word;
    word-break: break-all;
    /*! autoprefixer: off */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden
}

.cover-bookmark .bookmark-main .bookmark-list .close {
    display: block;
    height: .8533333333rem;
    width: .8533333333rem;
    font-size: .48rem;
    line-height: .8533333333rem;
    text-align: right
}

.cover-bookmark .bookmark-main .bookmark-list:active {
    background-color: hsla(0, 0%, 100%, .2)
}

.cover-menu {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    max-height: 6.0533333333rem;
    padding: 0 .4rem;
    color: #fff;
    background-color: rgba(0, 0, 0, .6);
    overflow: hidden
}

.cover-menu .menu-title {
    height: .72rem;
    padding: .2666666667rem 0
}

.cover-menu .menu-title .state {
    font-size: .3733333333rem;
    line-height: .72rem
}

.cover-menu .menu-title .state a {
    color: inherit
}

.cover-menu .menu-title .order {
    display: block;
    height: .72rem;
    width: 2.6666666667rem;
    font-size: 0;
    line-height: .72rem;
    text-align: right
}

.cover-menu .menu-title .order span {
    display: inline-block;
    width: auto;
    font-size: .3733333333rem;
    vertical-align: middle
}

.cover-menu .menu-title .order i {
    display: inline-block;
    height: .72rem;
    width: .72rem;
    font-size: .5333333333rem;
    line-height: .7733333333rem;
    text-align: center;
    vertical-align: middle
}

.cover-menu .menu-title .order .reverse {
    display: none
}

.cover-menu .menu-title .order.order-reverse .reverse {
    display: inline-block
}

.cover-menu .menu-title .order.order-reverse .forward {
    display: none
}

.cover-menu .menu-main {
    -webkit-overflow-scrolling: touch;
    height: auto;
    max-height: 4.8rem;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll
}

.cover-menu .menu-main .menu-list {
    float: left;
    height: 1.0666666667rem;
    width: 25%
}

.cover-menu .menu-main .menu-list .btn {
    display: block;
    height: .6933333333rem;
    width: 1.76rem;
    padding: 0 .1333333333rem;
    border: .0266666667rem solid #fff;
    -webkit-border-radius: .3733333333rem;
    -moz-border-radius: .3733333333rem;
    border-radius: .3733333333rem;
    margin: 0 auto .32rem;
    line-height: .6933333333rem;
    text-align: center;
    color: #fff;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden
}

.cover-setting {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: .1066666667rem .48rem;
    color: #fff;
    background-color: rgba(0, 0, 0, .6)
}

.cover-setting .setting-definition {
    margin-bottom: .16rem
}

.cover-setting .setting-definition .definition-title {
    padding: .2933333333rem 0 .2133333333rem;
    font-size: .3733333333rem;
    line-height: .56rem;
    text-align: center
}

.cover-setting .setting-definition .definition-btns {
    height: .8533333333rem;
    padding: .08rem 0
}

.cover-setting .setting-definition .definition-btns .definition-btn {
    display: block;
    height: .8rem;
    width: 2.6133333333rem;
    border: .0266666667rem solid #fff;
    -webkit-border-radius: .4266666667rem;
    -moz-border-radius: .4266666667rem;
    border-radius: .4266666667rem;
    font-size: .3733333333rem;
    line-height: .8rem;
    text-align: center
}

.cover-setting .setting-definition .definition-btns .definition-btn.active,
.cover-setting .setting-definition .definition-btns .definition-btn:active {
    border-color: #fc6976;
    background-color: #fc6976;
    color: #fff
}

.cover-setting .setting-definition .definition-btns .definition-btn.disabled,
.cover-setting .setting-definition .definition-btns .definition-btn.disabled:active {
    border-color: #aaa;
    background-color: rgba(0, 0, 0, 0);
    color: #aaa
}

.cover-setting .setting-turning {
    padding: .2666666667rem 0
}

.cover-setting .setting-turning .turning-block {
    position: relative;
    height: 1.76rem;
    width: 1.92rem;
    -webkit-border-radius: .16rem;
    -moz-border-radius: .16rem;
    border-radius: .16rem
}

.cover-setting .setting-turning .turning-block .icon {
    display: block;
    height: 1.0666666667rem;
    width: 1.0666666667rem;
    margin: 0 auto;
    font-size: .64rem;
    line-height: 1.0666666667rem;
    text-align: center
}

.cover-setting .setting-turning .turning-block .text {
    display: block;
    font-size: .3733333333rem;
    line-height: .7466666667rem;
    text-align: center
}

.cover-setting .setting-turning .turning-block .stop {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    height: .5333333333rem;
    width: .5333333333rem;
    margin: -.2666666667rem 0 0 -.2666666667rem;
    font-size: .4266666667rem;
    line-height: .5333333333rem;
    text-align: center;
    color: #fd5158;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity)";
    filter: alpha(opacity=70);
    opacity: .7
}

.cover-setting .setting-turning .turning-block.active {
    background-color: rgba(0, 0, 0, .5)
}

.cover-setting .setting-turning .turning-block.disabled,
.cover-setting .setting-turning .turning-block.disabled.active {
    background-color: rgba(0, 0, 0, 0)
}

.cover-setting .setting-turning .turning-block.disabled.active .icon,
.cover-setting .setting-turning .turning-block.disabled.active .text,
.cover-setting .setting-turning .turning-block.disabled .icon,
.cover-setting .setting-turning .turning-block.disabled .text {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity)";
    filter: alpha(opacity=35);
    opacity: .35
}

.cover-setting .setting-turning .turning-block.disabled.active .stop,
.cover-setting .setting-turning .turning-block.disabled .stop {
    display: block
}

.cover-setting .setting-other .other-btn {
    width: auto;
    min-width: 1.6rem;
    padding: .2933333333rem 0;
    font-size: 0;
    line-height: .5333333333rem
}

.cover-setting .setting-other .other-btn i {
    display: inline-block;
    margin-right: .16rem;
    vertical-align: middle;
    line-height: .5333333333rem;
    font-size: .4266666667rem
}

.cover-setting .setting-other .other-btn span {
    display: inline-block;
    vertical-align: middle;
    font-size: .3733333333rem
}

.cover-dm-tool {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: .1066666667rem .48rem;
    color: #fff;
    background-color: rgba(0, 0, 0, .6)
}

.cover-dm-tool .dm-tool-progress {
    padding: .16rem 0
}

.cover-dm-tool .dm-tool-progress .progress-name {
    height: .64rem;
    width: auto;
    min-width: 1.3333333333rem;
    font-size: .3733333333rem;
    line-height: .64rem
}

.cover-dm-tool .dm-tool-progress .progress-row {
    height: .5333333333rem;
    padding: .1066666667rem .1333333333rem
}

.cover-dm-tool .dm-tool-progress .progress-state {
    height: .64rem;
    width: auto;
    min-width: 1.0666666667rem;
    font-size: .3733333333rem;
    line-height: .64rem;
    text-align: right
}

.cover-dm-tool .dm-tool-option {
    padding: .4266666667rem 0 .1066666667rem
}

.cover-dm-tool .dm-tool-option .option-btn {
    width: auto;
    min-width: 1.3333333333rem;
    font-size: 0;
    line-height: .6666666667rem
}

.cover-dm-tool .dm-tool-option .option-btn .text {
    display: inline-block;
    margin-right: .1066666667rem;
    vertical-align: middle;
    font-size: .3733333333rem;
    line-height: .5333333333rem
}

.cover-dm-edit {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: .32rem;
    background-color: rgba(0, 0, 0, .6)
}

.cover-dm-edit .dm-edit-input {
    position: relative;
    height: 1.0666666667rem;
    padding: .1066666667rem 0;
    margin-right: .32rem;
    -webkit-border-radius: .1066666667rem;
    -moz-border-radius: .1066666667rem;
    border-radius: .1066666667rem;
    background-color: #fff;
    overflow: hidden
}

.cover-dm-edit .dm-edit-input textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    height: 1.0666666667rem;
    width: 100%;
    padding: 0 1.3333333333rem 0 .2666666667rem;
    margin: 0;
    border: 0;
    outline: none;
    font-size: .3733333333rem;
    line-height: .5333333333rem;
    color: #333;
    resize: none
}

.cover-dm-edit .dm-edit-input .max {
    position: absolute;
    right: 0;
    top: 50%;
    display: block;
    height: .5333333333rem;
    width: .9333333333rem;
    padding-right: .2666666667rem;
    margin-top: -.2666666667rem;
    font-size: .32rem;
    line-height: .5333333333rem;
    text-align: right;
    letter-spacing: .0266666667rem;
    color: #999
}

.cover-dm-edit .dm-edit-btn {
    height: 1.28rem;
    width: 1.2rem;
    -webkit-border-radius: .1066666667rem;
    -moz-border-radius: .1066666667rem;
    border-radius: .1066666667rem;
    color: #fff;
    font-size: .32rem;
    text-align: center;
    line-height: 1.28rem
}

.cover-dm-edit .dm-edit-btn:active {
    background-color: rgba(0, 0, 0, .5)
}

.cover-dm-edit .dm-edit-btn.activation {
    color: #fc6976
}

.cover-dm-edit .dm-edit-btn.activation:active {
    color: #fc6976
}

.cover-help,
.cover-help .how {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%
}

.cover-help .how {
    display: none
}

.cover-help .how .mascot {
    position: absolute;
    left: 50%;
    top: 50%;
    height: .8rem;
    padding-top: 5.12rem;
    width: 3.28rem;
    margin: -2.9333333333rem 0 0 -1.64rem;
    font-size: .4266666667rem;
    line-height: .8rem;
    text-align: center;
    color: #fff;
    background: url(../images/mascot-stand.png) no-repeat top;
    -webkit-background-size: 90% auto;
    -moz-background-size: 90% auto;
    background-size: 90% auto
}

.cover-help .how-click {
    background: url(../images/pic_help_click.png);
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%
}

.cover-help .how-scroll {
    background: url(../images/pic_help_scroll.png);
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%
}

.cover-help .how-swipe-right {
    background: url(../images/pic_help_swipe_right.png);
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%
}

.cover-help .how-swipe-left {
    background: url(../images/pic_help_swipe_left.png);
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%
}

.cover-welcome {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #fff
}

.cover-welcome .enter-back {
    position: absolute;
    left: 0;
    top: 0;
    height: 1.3333333333rem;
    width: 1.3333333333rem;
    font-size: .48rem;
    line-height: 1.3333333333rem;
    text-align: center;
    color: #999
}

.cover-welcome .enter-loading {
    height: auto;
    min-height: 4.48rem;
    width: 100%;
    padding: 0 .48rem
}

.cover-welcome .enter-loading .egg {
    height: 3.2rem;
    margin-bottom: .2666666667rem;
    background-image: url(../images/mascot-dance.gif);
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 50%
}

.cover-welcome .enter-loading .progress {
    position: relative;
    height: .08rem;
    background-color: #999;
    overflow: hidden
}

.cover-welcome .enter-loading .progress .progress-cursor {
    position: absolute;
    right: 100%;
    top: 0;
    height: .08rem;
    width: 100%;
    background-color: #fc6976
}

.cover-welcome .enter-loading .hint {
    padding: .3733333333rem 0;
    font-size: .3733333333rem;
    line-height: .5333333333rem;
    text-align: center;
    color: #333
}

.cover-welcome .enter-loading .btns {
    display: none;
    height: .7466666667rem;
    padding-top: .2666666667rem;
    font-size: 0;
    line-height: .7466666667rem;
    text-align: center
}

.cover-welcome .enter-loading .btns span {
    display: inline-block;
    height: .7466666667rem;
    min-width: 1.6rem;
    padding: 0 .2666666667rem;
    font-size: .3733333333rem;
    text-align: center;
    line-height: .7466666667rem;
    color: #fc6976
}

.rd-main {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #000
}

.rd-main .comic-pic {
    -webkit-transition-property: -webkit-filter;
    transition-property: -webkit-filter;
    -o-transition-property: filter;
    -moz-transition-property: filter;
    transition-property: filter;
    transition-property: filter, -webkit-filter;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s
}

.rd-main .comic-page.lock .comic-img:after {
    content: "章节已锁定，请付费后浏览";
    position: absolute;
    z-index: 1;
    display: block;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    font-size: .3733333333rem;
    text-align: center;
    font-weight: 300;
    color: #fff;
    text-shadow: 1px 1px 2px #000
}

.rd-main .comic-page.lock .comic-pic {
    -webkit-filter: blur(.1333333333rem);
    filter: blur(.1333333333rem)
}

@-webkit-keyframes opacity {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-moz-keyframes opacity {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-o-keyframes opacity {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes opacity {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes dropShow {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -2rem, 0);
        transform: translate3d(0, -2rem, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@-moz-keyframes dropShow {
    0% {
        opacity: 0;
        -moz-transform: translate3d(0, -2rem, 0);
        transform: translate3d(0, -2rem, 0)
    }

    to {
        opacity: 1;
        -moz-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@-o-keyframes dropShow {
    0% {
        opacity: 0;
        transform: translate3d(0, -2rem, 0)
    }

    to {
        opacity: 1;
        transform: translateZ(0)
    }
}

@keyframes dropShow {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -2rem, 0);
        -moz-transform: translate3d(0, -2rem, 0);
        transform: translate3d(0, -2rem, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@-webkit-keyframes riseShow {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 2rem, 0);
        transform: translate3d(0, 2rem, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@-moz-keyframes riseShow {
    0% {
        opacity: 0;
        -moz-transform: translate3d(0, 2rem, 0);
        transform: translate3d(0, 2rem, 0)
    }

    to {
        opacity: 1;
        -moz-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@-o-keyframes riseShow {
    0% {
        opacity: 0;
        transform: translate3d(0, 2rem, 0)
    }

    to {
        opacity: 1;
        transform: translateZ(0)
    }
}

@keyframes riseShow {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 2rem, 0);
        -moz-transform: translate3d(0, 2rem, 0);
        transform: translate3d(0, 2rem, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        transform: translateZ(0)
    }
}

.pay-chapter-bg {
    background-color: rgba(51, 51, 51, .5)
}

.pay-chapter-modal {
    position: absolute;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%
}

.pay-chapter-modal .bd {
    position: relative;
    padding: .9066666667rem 0 .5333333333rem;
    background-color: #fff
}

.pay-chapter-modal .float-mascot {
    position: absolute;
    left: 40%;
    top: -2.9333333333rem;
    display: block;
    height: 3.4133333333rem;
    width: 5.3333333333rem;
    margin-left: -2.6666666667rem;
    background: url(../images/mascot-talk-cloud.png) no-repeat 50%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%
}

.pay-chapter-modal .float-mascot .text {
    position: absolute;
    right: .48rem;
    top: .3466666667rem;
    height: 1.2rem;
    width: 1.8666666667rem;
    font-size: .32rem;
    line-height: .4rem;
    text-align: center;
    color: #fc6976
}

.pay-chapter-modal .close-bar {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    height: .64rem;
    width: .64rem;
    padding: .2133333333rem .2133333333rem 0 0;
    font-size: .48rem;
    line-height: .64rem;
    text-align: center;
    color: #999
}

.pay-chapter-modal .chapter-content {
    height: auto;
    width: 70%;
    padding: 0 0 .1333333333rem;
    border: 1px solid #ddd;
    -webkit-border-radius: .08rem;
    -moz-border-radius: .08rem;
    border-radius: .08rem;
    margin: 0 auto .5333333333rem
}

.pay-chapter-modal .need-chapter {
    padding: .48rem 0;
    margin: 0 0 .1333333333rem;
    font-size: .32rem;
    line-height: .4266666667rem;
    text-align: center;
    color: #333;
    background-color: #ddd
}

.pay-chapter-modal .need-chapter .info {
    font-size: .3733333333rem;
    line-height: .5333333333rem;
    text-align: center;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden
}

.pay-chapter-modal .need-chapter .decorate {
    display: block;
    font-size: .3733333333rem;
    line-height: .5333333333rem;
    font-weight: 400;
    color: #fc6976;
    text-align: center
}

.pay-chapter-modal .need-gold {
    height: .64rem;
    font-size: .3733333333rem;
    line-height: .64rem;
    color: #fc6976;
    text-align: center
}

.pay-chapter-modal .need-gold .gold {
    display: inline-block;
    font-size: .48rem
}

.pay-chapter-modal .need-gold .hint {
    color: #ddd;
    font-size: .2666666667rem
}

.pay-chapter-modal .need-silver {
    height: .64rem;
    font-size: .32rem;
    line-height: .64rem;
    color: #999;
    text-align: center
}

.pay-chapter-modal .enough {
    margin-bottom: .48rem;
    line-height: .48rem;
    text-align: center;
    color: #999
}

.pay-chapter-modal .pay-btn {
    display: block;
    height: .8533333333rem;
    width: 70%;
    -webkit-border-radius: .3733333333rem;
    -moz-border-radius: .3733333333rem;
    border-radius: .3733333333rem;
    margin: 0 auto;
    font-size: .3733333333rem;
    line-height: .8533333333rem;
    font-weight: 300;
    text-align: center;
    color: #fff;
    background-color: #fc6976
}

.pay-chapter-modal .pay-btn:active {
    background-color: #fa051b
}

.pay-chapter-modal .ft {
    padding: .5333333333rem 0;
    background-color: #ddd
}

.pay-chapter-modal .balance {
    display: block;
    height: auto;
    margin: 0 auto;
    text-align: center
}

.pay-chapter-modal .balance .balance-gem {
    display: inline-block;
    height: .7466666667rem;
    width: auto;
    font-size: 0;
    line-height: .7466666667rem;
    text-align: left;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden
}

.pay-chapter-modal .balance .balance-gem .icon {
    margin-right: .08rem;
    max-height: .64rem;
    vertical-align: middle
}

.pay-chapter-modal .balance .balance-gem .num {
    display: inline-block;
    height: .3733333333rem;
    width: auto;
    min-width: 1.0666666667rem;
    font-size: .3733333333rem;
    line-height: .3733333333rem;
    color: #333;
    vertical-align: middle
}

.pay-chapter-modal .balance .balance-recharge {
    display: block;
    height: .7466666667rem;
    width: 100%;
    font-size: .4266666667rem;
    line-height: .7466666667rem;
    color: #fc6976
}

.pay-chapter-modal .info-hint {
    color: #ddd;
    font-size: .2666666667rem;
    text-align: center;
    margin: .0533333333rem 0
}

.header-show .ift-back {
    color: #fff
}

.catalog-list__loading {
    text-align: center;
    padding: .5333333333rem;
    font-size: .32rem;
    color: #fc6976
}

.rd-hd {
    background-color: rgba(0, 0, 0, .7)
}

.rd-hd .hd-right {
    padding-right: .2666666667rem
}

.rd-hd .home {
    font-size: .3733333333rem;
    padding-left: .16rem;
    padding-right: .16rem
}

.rd-hd .hd-title {
    font-size: .4266666667rem
}

.rd-hd .share-btn {
    font-size: .64rem
}

.rd-hd .icon-box {
    width: auto;
    padding-left: .16rem;
    padding-right: .16rem
}

.modal-cover * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.rd-ft {
    background-color: rgba(0, 0, 0, .7);
    padding: .2133333333rem .4266666667rem .32rem
}

.rd-ft * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.rd-ft .ft-menu {
    padding-bottom: 0;
    padding-top: 0
}

.rd-ft .ft-menu .menu-block {
    height: auto;
    margin-top: .32rem;
    padding-top: 0;
    position: relative
}

.rd-ft .ft-menu .menu-block .ift-stop {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    height: .5333333333rem;
    width: .5333333333rem;
    margin: -.2666666667rem 0 0 -.2666666667rem;
    font-size: .4266666667rem;
    line-height: .5333333333rem;
    text-align: center;
    color: #fd5158;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity)";
    filter: alpha(opacity=70);
    opacity: .7
}

.rd-ft .ft-menu .menu-block.disabled .name {
    color: #968e8e
}

.rd-ft .ft-menu .menu-block.disabled .icon {
    opacity: .35
}

.rd-ft .ft-menu .menu-block.disabled .ift-stop {
    display: block
}

.rd-ft .ft-menu .menu-block .icon {
    font-size: .8533333333rem;
    width: .8533333333rem;
    height: .8533333333rem;
    line-height: .8533333333rem
}

.rd-ft .ft-menu .menu-block .name {
    font-size: .32rem;
    margin-top: .1066666667rem;
    height: .4266666667rem;
    line-height: .4266666667rem
}

.rd-ft .ft-page .page-info,
.rd-ft .ft-page .page-row {
    padding-left: .2133333333rem
}

.rd-ft .ft-page .page-row {
    height: .64rem;
    padding-right: .2133333333rem
}

.rd-ft .ft-page .page-next,
.rd-ft .ft-page .page-prev,
.rd-ft .ft-speed .speed-add i,
.rd-ft .ft-speed .speed-reduce i {
    font-size: .64rem
}

.rd-ft .ft-speed .speed-row {
    height: .64rem
}

.rd-ft .ft-speed .speed-row,
.rd-progress {
    padding-left: .2133333333rem;
    padding-right: .2133333333rem
}

.rd-progress {
    height: .4266666667rem
}

.rd-progress .rd-progress-cursor {
    height: 100%
}

.rd-progress .rd-progress-cursor:after,
.rd-progress .rd-progress-cursor:before {
    top: .1733333333rem
}

.rd-progress .rd-progress-cursor:before {
    margin-right: .2133333333rem
}

.rd-progress .rd-progress-cursor:after {
    left: .2133333333rem
}

.rd-progress .rd-progress-cursor .cursor {
    margin-left: -.2133333333rem;
    height: .4266666667rem;
    width: .4266666667rem;
    border-width: .0533333333rem;
    background-color: #fc6976;
    border-color: #fff
}

.cover-light {
    height: 3.0933333333rem
}

.cover-light .light-progress {
    padding-top: .64rem;
    padding-bottom: .48rem
}

.cover-light .light-progress .progress-row {
    height: .64rem
}

.cover-light .light-progress .progress-add,
.cover-light .light-progress .progress-reduce {
    width: .8533333333rem;
    height: .8533333333rem;
    line-height: .8533333333rem;
    font-size: .8533333333rem
}

.cover-light .light-progress .progress-add i,
.cover-light .light-progress .progress-reduce i {
    vertical-align: top
}

.cover-light .light-progress .rd-progress {
    height: 100%
}

.cover-light .light-option .option-btn .ift-checked {
    display: none
}

.cover-light .light-option .option-btn.active .ift-checked {
    display: inline-block
}

.cover-light .light-option .option-btn.active .ift-nocheck {
    display: none
}

.cover-light .light-option .option-btn label {
    font-size: .3733333333rem;
    line-height: .5333333333rem;
    margin-bottom: 0
}

.cover-light .light-option .option-btn i {
    font-size: .4266666667rem
}

.acgn-reader-chapter {
    width: 100%;
    height: 100%;
    font-size: 0;
    overflow: hidden;
    position: relative;
    background: #000;
    -webkit-overflow-scrolling: touch
}

.acgn-reader-chapter.none-scroll {
    overflow-y: hidden !important;
    -webkit-overflow-scrolling: auto
}

.acgn-reader-chapter.hl .acgn-reader-chapter__scroll-box {
    right: 0
}

.acgn-reader-chapter.h .acgn-reader-chapter__scroll-box {
    overflow: hidden;
    position: absolute;
    top: 0;
    height: 100%
}

.acgn-reader-chapter.h .acgn-reader-chapter__item-box {
    float: left;
    height: 100%
}

.acgn-reader-chapter.h .acgn-reader-chapter__item {
    height: 100%;
    overflow: hidden;
    float: left;
    display: block;
    background-color: #fff
}

.acgn-reader-chapter.v {
    overflow-y: scroll
}

.acgn-reader-chapter.v .acgn-reader-chapter__item.loading {
    height: 720px;
    display: block
}

.acgn-reader-chapter .acgn-reader-chapter__item-box {
    text-align: center;
    position: relative
}

.acgn-reader-chapter .acgn-reader-chapter__item-box.hide {
    display: none
}

.acgn-reader-chapter .acgn-reader-chapter__item {
    width: 100%;
    position: relative;
    overflow-x: hidden;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top
}

.acgn-reader-chapter .acgn-reader-chapter__item.loading .acgn-reader-chapter__loading-tip {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex
}

.acgn-reader-chapter .acgn-reader-chapter__item-img {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
    position: relative
}

.acgn-reader-chapter .acgn-reader-chapter__loading-tip {
    color: #999;
    font-size: 1.0666666667rem;
    width: 100%;
    height: 100%;
    background: #000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: none
}

.acgn-reader-chapter .acgn-reader-chapter__loading-tip .tip-error-msg {
    color: #fff;
    font-size: .3466666667rem;
    line-height: .6133333333rem
}

.acgn-reader-chapter .acgn-reader-chapter__loading-tip.lock {
    color: #fff;
    font-size: .48rem;
    line-height: .6133333333rem
}

.acgn-reader-chapter .acgn-reader-chapter__loading-tip .tip-error-btn {
    color: #d46459
}

.barrages-wrap {
    position: relative;
    display: block;
    height: 0;
    width: 100%
}

.barrages-wrap .bullet {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: inline-block;
    height: .96rem;
    width: auto;
    max-width: 90%;
    -webkit-border-radius: .48rem;
    -moz-border-radius: .48rem;
    border-radius: .48rem;
    overflow: hidden;
    font-size: 0;
    line-height: .96rem;
    background-color: rgba(0, 0, 0, .2);
    opacity: 0
}

.barrages-wrap .bullet.bullet-pausing {
    z-index: 9
}

.barrages-wrap .bullet .bullet-inside {
    position: relative;
    display: inline-block;
    height: .96rem;
    width: auto;
    max-width: 100%;
    font-size: .3733333333rem;
    vertical-align: middle
}